* {
    box-sizing: border-box;
}

.blockHolder {
    margin: auto;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.storyBlock {
    font-size: 12px;
    width: 75vw;
    margin: 1% auto 0 auto;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.storyBlock:hover {
    cursor: pointer;
    filter: brightness(120%);
}

.storyBlockView-Title > .storyBlock {
    width: 90vw;
}

.blockId {
    display: none;
}

.js-signup-form {
    z-index: 1;
    width: 40vw;
    height: 30vh;
    margin: auto;
    border: 1px solid black;
}

.storyCreateInterface {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: auto;
    border: 1px solid black;
}