* {
    box-sizing: border-box;
}

.storyBankBody {
    color: white;
    /* background-color: #133947; */
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6) ), url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/xT5hzmO/nighttime-campfire_e1vx-fat__F0000.png');
    height: 100%;
}

.storyBankMainContent {
    width: 90vw;
    margin: auto;
}

.storyBankHeader {
    display: flex;
    flex-direction: row;
    width: 90vw;
    border-bottom: 1px solid white;
    margin: auto auto 2% auto;
}

.storyBankTitle {
    margin-right: 2%;
}

.storyBankHeader .userButton {
    float: right;
}

.userButton {
    color: white;
    background: none;
    border: 3px solid white;
    /* margin-left: 2%; */
}

.userButton:hover,
.userButton:focus {
    color: #133947;
    background: white;
}

.js-create-block-view {
    display: none;
}

.blockHolder {
    margin: auto;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.js-block-result {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    height: 100%;
}

.storyBlock {
    display: inline-block;
    font-size: 12px;
    width: 20%;
    height: 20vh;
    margin: 10px 0 0 10px;
    border: 3px solid white;
    border-radius: 5%;
    -webkit-transition: transform 1s, box-shadow 0.3s; 
    -moz-transition: transform 1s, box-shadow 0.3s;
    -o-transition: transform 1s, box-shadow 0.3s;
    transition: transform 1s, box-shadow 0.3s;
}

.storyBlock:hover,
.storyBlock:focus {
    cursor: pointer;
    box-shadow: 0 0 20px 1px white;
    border: 2px solid white;
}

.storyBlockView-Title>.storyBlock {
    width: 90vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid white;
    padding: 5px;
}

.storyBlock>button {
    margin-left: 2%;
}

.is-focused {
    color: white;
}

.deleteMenuHolder {
    display: flex;
    flex-direction: column;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50vw;
    height: 30vh;
    margin: auto;
    background-color: rgb(0, 0, 0, 0.90);
    color: white;
    border: 2px solid white;
    padding: 4%;
}

.hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.deleteMenuHolder .userButton {
    color: white;
    border: 2px solid white;
    width: 50%;
    margin: 0 auto 2% auto;
}

.deleteMenuHolder .userButton:hover,
.userButton:focus {
    color: black;
}

.deleteBlockTitle {
    color: red;
}

.deleteButton {
    background-color: darkred;
}

.deleteMenuHolder p {
    font-size: 2.5vw;
    font-size: 18px;
    text-align: center;
}

.deleteBlockMenu {
    display: flex;
    flex-direction: column;
    position: relative;
}

.storyImage {
    max-width: 75vw;
    max-height: 50vh;
}

.imageThumb {
    max-width: 30vw;
    max-height: 20vh;
}

.blockId,
.storyId,
.publicStatus {
    display: none;
}

.js-signup-form {
    z-index: 1;
    width: 40vw;
    height: 30vh;
    margin: auto;
    border: 1px solid black;
}

.storyCreateInterface {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: auto;
}

.storyBlockView {
    display: flex;
    flex-wrap: wrap;
}

.storyQuickView {
    display: inline-block;
    margin: 10px 0 0 10px;
    flex-grow: 1;
    height: 18vh;
    width: 20%;
    border: 3px solid white;
    /* border-radius: 2%; */
    overflow-y: scroll;
}

.storyQuickView::-webkit-scrollbar {
    -webkit-appearance: none;
}

.storyQuickView::-webkit-scrollbar:vertical {
    width: 10px;
}

.storyQuickView::-webkit-scrollbar:horizontal {
    height: 10px;
}

.storyQuickView::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5);
}

.quickViewTitle {
    font-size: 15px;
    font-size: 2.75vw;
}

.storyQuickView:hover {
    cursor: pointer;
    filter: brightness(130%);
}

.publicStatusInfo {
    display: block;
    float: right;
    margin-bottom: 0;
}

#userName,
#password,
#passwordConfirm,
#title,
#content {
    border-bottom: 1px solid white;
}

#userNameLabel,
#passwordLabel,
#passwordConfirmLabel,
#titleLabel,
#contentLabel {
    color: white;
}

.loadingHolder {
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.55);
    position: absolute;
    z-index: 1;
    display: none;
}

#loading {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}