* {
    box-sizing: border-box;
}

.storyBankBody {
    color: white;
    background-color: #133947;
}

.storyBankMainContent {
    width: 90vw;
    margin: auto;
}

.storyBankHeader {
    display: flex;
    flex-direction: row;
    width: 90vw;
    border-bottom: 1px solid white;
    margin: auto auto 2% auto;
}

.storyBankTitle {
    margin-right: 2%;
}

.storyBankHeader .userButton {
    float: right;
}

.userButton {
    color: white;
    background: none;
    border: 3px solid white;
    /* margin-left: 2%; */
}

.js-create-block-view {
    display: none;
}

.blockHolder {
    margin: auto;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.js-block-result {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
}

.storyBlock {
    display: inline-block;
    font-size: 12px;
    width: 20%;
    height: 20vh;
    margin: 10px 0 0 10px;
    border: 3px solid white;
    border-radius: 5%;
}

.storyBlock:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 1px white;
}

.storyBlockView-Title>.storyBlock {
    width: 90vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    border-radius: 0;
}

.storyBlock>button {
    margin-left: 2%;
}

.is-focused {
    color: white;
}

.deleteMenuHolder {
    display: flex;
    flex-direction: column;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50vw;
    height: 30vh;
    margin: auto;
    background-color: rgb(0, 0, 0, 0.90);
    color: white;
    border: 2px solid white;
    padding: 4%;
}

.hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.deleteMenuHolder .userButton {
    color: white;
    border: 2px solid white;
    width: 50%;
    margin: 0 auto 2% auto;
}

.deleteBlockTitle {
    color: red;
}

.deleteButton {
    background-color: darkred;
}

.deleteMenuHolder p {
    font-size: 2.5vw;
    font-size: 18px;
    text-align: center;
}

.deleteBlockMenu {
    display: flex;
    flex-direction: column;
    position: relative;
}

.storyImage { 
    max-width: 75vw;
    max-height: 50vh; 
} 

.imageThumb {
    max-width: 30vw;
    max-height: 20vh;
}

.blockId,
.storyId {
    display: none;
}

.js-signup-form {
    z-index: 1;
    width: 40vw;
    height: 30vh;
    margin: auto;
    border: 1px solid black;
}

.storyCreateInterface {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: auto;
}

.storyBlockView {
    display: flex;
    flex-wrap: wrap;
}

.storyQuickView {
    display: inline-block;
    margin: 10px 0 0 10px;
    flex-grow: 1;
    height: 18vh;
    width: 20%;
    border: 3px solid white;
    border-radius: 5%;
    overflow-y: scroll;
}

.quickViewTitle {
    font-size: 15px;
    font-size: 2.75vw;
}

.storyQuickView:hover {
    cursor: pointer;
    filter: brightness(130%);
}

#userName,
#password,
#passwordConfirm {
    border-bottom: 1px solid white;
}

#userNameLabel,
#passwordLabel,
#passwordConfirmLabel {
    color: white;
}